name: CI - TicTacToe

on:
  push:
    branches:
      - main
      - 'feature/**'
    paths-ignore:
      - '**.md'
      - '.gitignore'
      - '.idea/**'
      - '.github/**'
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**.md'

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Build & Test
        run: ./gradlew build test --no-daemon --stacktrace --parallel

